{% extends "base.html" %}
{% load static %}

{% block main %}

    <!-- portfolio -->
    <div class="portfolio">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage text_align_left">
                   <h2>We Have Done Portfolio  </h2>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-6">
                <div id="ho_nf" class="portfolio_main text_align_left">
                   <figure>
                      <img src="{% static "images/prot1.png" %}" alt="#"/>
                      <div class="portfolio_text">
                         <div class="li_icon">
                            <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="Javascript:void(0)"><i class="fa fa-link" aria-hidden="true"></i></a>
                         </div>
                         <h3>Carrency Dashbord</h3>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majoraity have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                      </div>
                   </figure>
                </div>
             </div>
             <div class="col-md-6">
                <div id="ho_nf" class="portfolio_main text_align_left">
                   <figure>
                      <img src="{% static "images/prot2.png" %}" alt="#"/>
                      <div class="portfolio_text">
                         <div class="li_icon">
                            <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="Javascript:void(0)"><i class="fa fa-link" aria-hidden="true"></i></a>
                         </div>
                         <h3>Carrency Dashbord</h3>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majoraity have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                      </div>
                   </figure>
                </div>
             </div>
             <div class="col-md-6">
                <div id="ho_nf" class="portfolio_main text_align_left">
                   <figure>
                      <img src="{% static "images/prot3.png" %}" alt="#"/>
                      <div class="portfolio_text">
                         <div class="li_icon">
                            <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="Javascript:void(0)"><i class="fa fa-link" aria-hidden="true"></i></a>
                         </div>
                         <h3>Carrency Dashbord</h3>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majoraity have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                      </div>
                   </figure>
                </div>
             </div>
             <div class="col-md-6">
                <div id="ho_nf" class="portfolio_main text_align_left">
                   <figure>
                      <img src="{% static "images/prot4.png" %}" alt="#"/>
                      <div class="portfolio_text">
                         <div class="li_icon">
                            <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="Javascript:void(0)"><i class="fa fa-link" aria-hidden="true"></i></a>
                         </div>
                         <h3>Carrency Dashbord</h3>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majoraity have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                      </div>
                   </figure>
                </div>
             </div>
             <div class="col-md-12">
                <a class="read_more" href="portfolio.html">See More</a>
             </div>
          </div>
       </div>
    </div>
    <!-- end portfolio -->

{% endblock %}
